{
  "extends": "shellscape",
  "parserOptions": {
    "sourceType": "module"
  },
  "rules": {
    "comma-dangle": ["error", "never"],
    "comma-style": ["error", "last"],
    "eqeqeq": ["error", "always"],
    "no-undef": ["error"],
    "no-unused-vars": ["error"],
    "object-curly-spacing": ["error", "always", { "arraysInObjects": true }],
    "one-var": 0,
    "prefer-arrow-callback": ["off"],
    "quotes": ["error", "single"]
  }
}
